body {
    background-color: aliceblue !important;
}

.home-cont {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.home-arr {
    margin-top: 60px;
    width: 100%;
    overflow: auto;
}

.chatSendBtn {
  padding: 10px 20px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
  top: 5px;
  float: right;
 }
 
 .chatSendBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .chatSendBtn:hover {
  color: #e8e8e8;
 }
 
 .chatSendBtn:hover::before {
  width: 100%;
 }

 @media screen and (min-width: 468px) and (max-width: 900px) {
    .chatSendBtn{
        padding: 7px 12px;
    }
 }

 @media screen and (max-width: 468px) {
    .chatSendBtn{
        padding: 5px 10px;
    }
 }