body {
  background-color: #667e91 !important;
}

.user-title {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: cursive;
  color: #ffffff;
}

.home-cont {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-arr {
  margin-top: 60px;
  width: 100%;
  overflow: auto;
}

.chat-container{
  background-color: #f4eee0;
}

.profile_img{
  border-radius: 999px;
  border: #080808 0.3px solid;
  margin: 5px;
  object-fit :fill;
  background-color: #000000;
}

.chat_user_detail{
  display: flex;
  flex-direction: column;
}

.chat_user{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.UserName{
  font-size: 19px;
}

.time_text{
  font-size: 12px;
  align-self: flex-end;
}

/* for the scrollbar on webpage */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: 2px 2px 5px #b8b9be, -3px -3px 7px #ffffff;
  border-radius: 50px;
  margin: .5em 0em .5em 0em;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(160, 152, 152);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(73, 72, 72);
}

.chatSendBtn {
  padding: 10px 20px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
  top: 5px;
  float: right;
}

.chatSendBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
}

.chatSendBtn:hover {
  color: #e8e8e8;
}

.chatSendBtn:hover::before {
  width: 100%;
}

@media screen and (min-width: 468px) and (max-width: 900px) {
    .chatSendBtn{
      padding: 7px 12px;
    }
}

@media screen and (max-width: 468px) {
  .chatSendBtn{
    padding: 5px 10px;
  }

  .UserName{
    font-size: 15px;
  }

  .time_text{
    font-size: 10px;
  }

  .message_text{
    font-size: 15px;
  }
}