body{
  height:100%;
  width: 100%;  
  background-color: #667e91;
}

header {
	position: relative;
	height: 50vh;
}

.cover-image {
  top: 60px;
	position: relative;
	height: 100%;
	width: 100%;
  background-color: rgba(255, 255, 255, 0.5);

}

.cover-image img {
	height: 100%;
	width: 100%;
  opacity: 0.2;
  filter: blur(2px);
  object-fit: fill;
}

.cover-text {
	position: absolute;
	top: 0;
	left: 20px;
	color: #000000;
	text-align: justify;
  overflow: auto;
  max-width: 80%;
  max-height: auto;
  white-space: normal;
}

.cover-text h1 {
	font-size: 2rem;
	margin-bottom: 10px;
}

.cover-text p {
	font-size: 1rem;
	margin-bottom: 0;
}

/* Options Section */
.container {
  background-color: #f4eee0;
  width: 90%;
  height: 50px;
  margin: 0 auto;
  padding: 0px 20px 0px;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.option .fa-plus, .option .fa-edit, .option .fa-trash, .option .fa-eye-slash, .option .fa-eye, .option .fa-filter {
  font-size: 0.9rem;
  margin: 0 auto;
  color: #7d84ab;
}

.options {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  align-items: center;
  margin-left: 10px;
}

.option {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #7d84ab;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.9rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.option a {
  text-decoration: none;
  color: black;
}

.option:hover {
  color: #555;
}

.option i {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

/* hidden filter container */
.filter-container {
  display: none;
  margin-top: 2rem;
  background-color: #f4eee0;
  padding: 20px;
  border-top: 2px solid #007bff;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 999;
  margin-bottom: 50px;
  border-radius: 10px;
}

.filter-container h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.filter-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter-column {
  width: 45%;
}

.filter-column label {
  margin-right: 10px;
  color: #7d84ab;
}

.filter-radio {
  margin-bottom: 10px;
  color: #7d84ab;
}

.apply-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.apply-btn:hover {
  background-color: #0056b3;
}

.published {
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  padding: 12px 0;
}

/* single assessment status */
.assessment-container {
  width: 90%;
  margin: 0 auto;
  background-color: #f4eee0;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

.view-ass{
  text-decoration: none;
}

.desc {
  text-align: justify;
  margin: 0px 0px 40px 0px;
  color: #7d84ab;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #7d84ab;
}

.assessment-options {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  gap: 130px;
  margin-top: 20px;
  color: #7d84ab;
}

.assessment-option {
  display: flex;
  align-items: center;
}

.assessment-option input[type="checkbox"] {
  margin-right: 10px;
}

.view-count {
  font-size: 16px;
}

.view-count span {
  font-weight: bold;
}

.publish-container .post-btn{
  background-color: #7d84ab;
  margin: 5px 0;
  border-radius: 10px;
  font-weight: normal;
  cursor: pointer;
  padding: 10px;
  border: none;
}

.publish-container .post-btn:hover{
  background-color: #38415c;
  color: #fff;
  font-weight: bold;
  transition: .3s;
}

@media screen and (max-width: 768px) {
  .assessment-options {
    gap: 40px;
  }

  .options {
    gap: 20px;
  }

  .publish-container .post-btn{
    font-size: 12px;
  }

}

@media screen and (max-width: 534px) {
  .assessment-container {
    width: 80%;
  }

  .container {
    width: 80%;
  }

  .options {
    vertical-align: middle;
    padding: 10px 0px 0px 0px;
  }

  .option .fa-plus, .option .fa-edit, .option .fa-trash, .option .fa-eye-slash, .option .fa-eye, .option .fa-filter {
    font-size: 0.7rem;
  }

  .option {
    font-size: 0.7rem;
  }

  .publish-container {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  .published {
    font-size: 0.8rem;
  }

  .cover-text h1 {
    font-size: 2rem;
    display: flex;
    position: relative;
    justify-content: flex-start;
  }
  
  .cover-text p {
    font-size: 1rem;
  }

  .filter-container h3 {
    font-size: 18px;
  }

  .filter-container h4 {
    font-size: 14px;
  }

  .filter-column {
    font-size: 14px;
  }

  .desc {
    font-size: 14px;
  }
  
  .header {
    font-size: 14px;
  }

  .filter-radio {
    font-size: 12px;
  }

  .filter-column .filter-radio {
    display: flex;
    position: relative;
    right: 10px;
    width: 120%;
  }

  .filter-row {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .status-radio {
    font-size: 12px;
  }

  .assessment-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .apply-btn {
    display: flex;
    padding: 8px 12px;
    font-size: 13px;
  }
}
