/* homepage 3 containers */
.topic {
  margin: 130px 0px 10px 30px;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: cursive;
  color: #ffffff;
}

.down-topic {
  padding: 0px 0px 0px 30px;
}

.big-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.down-container {
  justify-content: center;
  align-items: center;
  background-color: #f4eee0;
  width: 100%;
  padding: 40px 0px;
  margin-top: 50px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all .1s;
  margin-right: 20px;
  height: auto;
  width: 350px;
}

.d-container {
  display: flex;
  width: calc(25% - 20px);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
  transition: all .1s;
}

.image {
  max-width: 100%;
  height: 200px;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.content {
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: justify;
}

.container:hover, .d-container:hover {
  transform: scale(0.9);
}

/* button design */
.course-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 50px;
  border: 0;
  outline: 0;
  font-size: 16px;
  background: #3c59ff;
  color: #fff;
  margin: 0 auto;
}

svg {
  margin: 0 0 0 10px;
}

.course-btn:hover {
  background-color: #1b3cf9;
}

.course-btn:hover svg {
  margin: 0 0 0 25px;
  transition: 0.3s;
}

.course-btn:not(:hover) svg {
  transition: 0.3s;
}

.course-btn:active {
  transform: scale(0.9, 0.9);
  transition: 200ms;
}

.course-btn:not(:active) {
  transition: 200ms;
}

/* -------------------------------------------------------------------- */
/* slider courses */


/* -------------------------------------------------------------------- */

@media screen and (min-width: 768px) {
  .big-container {
    display: flex;
    flex-direction: row;
  }

  .image {
    width: 100%;
    height: 200px;
  }

  img {
    transform: scale(1.1);
    object-fit: cover;
  }

  .content {
    width: 80%;
    padding: 15px;
    text-align: center;
  }

  .course-btn {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1024px) {
  .d-container {
    width: calc(33.33% - 20px);
  }

}

@media only screen and (max-width: 768px) {
  .d-container {
    width: calc(50% - 20px);
  }

}

@media only screen and (max-width: 480px) {
  .d-container {
    width: calc(100% - 30px);
  }

}

@media only screen and (max-width: 320px) {
  .container {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}

/* -------------------------------------------------------------------- */
/* slider course */

/* ------------------------------------------------------------------- */