.container {
    background-color: #eeeeee;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

.profile-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 100px;
    width: 80%;
  }

  .user-container {
    margin: 0 auto;
    display: flex;
    gap: 50px;
    width: 50%;
    position: relative;
    right: 20rem;
  }

/* .user-image img{
  width: 30%;
} */

.user-image img {
  border-radius: 50%; 
  width: 150px; 
  height: 150px;
}

  /* User details styles */
  .user-details {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }

  .user-details h2 {
    margin: 0;
    margin-bottom: 10px;
  }

  .user-details p {
    margin: 0;
  }

  /* Edit button styles */
  .edit-btn, .edit-icon {
    background-color: #0062ff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-weight: bold;
  }

  .btn-container {
    position: absolute;
    top: 120px;
    right: 80px;
  }

  .edit-icon {
    display: none;
  }

  .status-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 95%;
    margin: 0 auto;
  }

  /* White container styles */
  .white-container {
    width: 30%;
    height: 180px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    text-decoration: underline;
    padding: 10px;
    box-shadow: 3px 3px 7px #bebebe;
  }

  /* Two white container styles */
  .white-container:first-child {
    width: 70%;
    height: 180px;
    margin-top: 20px;
  }

  /* single assessment layout */
  .assessment-container {
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px #bebebe;
    margin-bottom: 30px;
    cursor: pointer;
  }
  
  .desc {
    text-align: justify;
    margin: 0px 0px 40px 0px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .assessment-options {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    gap: 130px;
    margin-top: 20px;
  }
  
  .assessment-option {
    display: flex;
    align-items: center;
  }
  
  .assessment-option input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .view-count {
    font-size: 16px;
  }
  
  .view-count span {
    font-weight: bold;
  }

  @media screen and (max-width: 1440px) {
    
    .user-container {
      gap: 30px;
      right: 10rem;
      width: 70%;
    }
  }

  @media screen and (max-width: 768px) {

    .assessment-options {
      gap: 40px;
    }
  
    .options {
      gap: 20px;
    }

    .edit-btn {
      display: none;
    }

    .edit-icon {
      display: block;
    }

    .profile-container {
      width: 100%;
    }

    .btn-container {
      right: 30px;
    }

    .user-container {
      gap: 70px;
      right: 3.5rem;
      width: 70%;
    }
  }

  @media screen and (max-width: 320px), (max-width: 375px), (max-width: 612px) {
    .user-image img {
      display: flex;
      position: relative;
      left: 30px;
      width: 120px; 
      height: 120px;
    }

    .assessment-container {
      width: 85%;
    }

    .container {
      width: 83%;
    }

    .status-radio {
      font-size: 12px;
    }

    .assessment-options {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .desc {
      font-size: 14px;
    }
    
    .header {
      font-size: 14px;
    }

    .status-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 auto;
      row-gap: 10px;
    }

    .white-container, .white-container:first-child {
      margin: 0 auto;
      display: flex;
      width: 90%;
    }

    .user-details {
      row-gap: 5px;
      font-size: 14px;
      margin-top: 140px;
      margin-left: -150px;
      margin-bottom: 20px;
    }
  }