body{
  height:100%;
  width: 100%;
  background-color: #496970;
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: cursive;
  color: #e46a3a;
}

.item-card {
  background-color: #f4eee0;
  border-radius: 20px;
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  width: 250px;
  height: 280px;
}

.item-card img {
  width: 225px;
  height: 225px;
  object-fit: contain;
}

.item-card h3 {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  font-family: cursive;
}

.item-card:hover {
  cursor: pointer;
  color: rgb(6, 145, 133);
  transform: translateY(-3px);
  transition: all ease-in-out .3s;
}