body {
  background-color: #6D8A86;
}

.term {
  text-align: center;
  font-size: 2.0rem;
  font-weight: 600;
  font-family: Georgia, serif;
  font-weight: bold;
  color: #faa344;
  animation: mymove 4s infinite;
}

@keyframes mymove {
  50% {color: #feebe4;}
}

.condition {
  width: 100%;
  height: 430px;
  padding: 1em 1.5em;
  background: white;
  border-radius: 30px;
  /* box-shadow: 10px 10px 25px #bebebe,
            -10px -10px 25px #ffffff; */
  transition: 0.2s ease-in-out;
}

.update-button{
  background: #2F4858;
  color: white;
  font-family: cursive;
  padding-left: 1.2em;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #2F4858;
  overflow: hidden;
  float: right;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.update-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #2F4858;
  right: 0.3em;
  transition: all 0.3s;
}

.update-button:hover .icon {
  width: calc(100% - 0.6em);
}

.update-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #2F4858;
}

.update-button:hover .icon svg {
  transform: translateX(0.1em);
}

.update-button:active .icon {
  transform: scale(0.95);
}

@media only screen and (min-width: 468px) and (max-width: 900px) {
  .user-container .user,
  .user-container .email {
    font-size: 1.3rem;
  }

  .feedback {
    font-size: .9rem;
  }
}

@media only screen and (max-width: 468px) {
  .user-container .user,
  .user-container .email {
    font-size: 1.2rem;
  }

  .feedback {
    font-size: .85rem;
  }
}