body{
  height:100%;
  width: 100%;
  background-color: #667e91;
}

.bg-block {
  background-color: #1d1a19;
  color: #f33329;
  opacity: 0.8;
  border: #080808 1px solid;
  transition: all ease-in-out .5s;
}

.bg-block:hover {
  border: none !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: #f33329;
  opacity: 0.8;
  transition: all ease-in-out .5s;
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: cursive;
  color: #ffffff;
}

.search-cont {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
  transition: all ease-in-out .5s;
}

.search-cont .search__input {
  border: none;
  color: #080808;
  padding: 0.7rem 1rem;
  border-radius: 15px;
  width: 100%;
  transition: all ease-in-out .5s;
  box-shadow: inset 2px 2px 7px #b3b3b3,
              inset -2px -2px 7px #ffffff;
}

.search__input:hover {
  box-shadow: inset 5px 5px 13px #b3b3b3,
              inset -5px -5px 13px #ffffff;
}

.search-cont .search__input:focus {
  outline: none;
}

.search-cont .search__button {
  margin: 0 1rem;
}

.no-item-cont {
  border-top: #bebebe 1px solid;
  padding: 5px;
  text-align: center;
}

.item-cont {
  border-top: #bebebe 1px solid;
  padding: 5px;
  transition: .1s ease-in-out, .4s color;
}

.item-cont:hover {
  border-left: 1px solid #bebebe ;
  border-right: 1px solid #bebebe ;
  border-radius: 5px;
  background-color: rgba(233, 206, 165, 0.4);
  transition: all ease-in-out .5s;
}

.result-container{
  background-color: #f4eee0;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  transition: all ease-in-out .5s;
}

.result-container .profile-img{
  height: 90px;
  width: 90px;
  border-radius: 999px;
  border: #080808 0.3px solid;
  margin: 5px;
  object-fit :fill;
  background-color: #000000;
}

.result-container h2{
  font-size: 1.4rem;
  font-weight: 600;
  font-family: Montserat;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.result-container h3{
  font-size: 1.3rem;
  font-weight: 500;
  font-family: Montserat;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.result-container .arrow-btn,
.result-container .check-btn,
.result-container .xmark-btn {
  font-size: 2rem;
  width: 50px;
  transition: .1s ease-in-out, .4s color;
}

.result-container .arrow-btn:hover ,
.result-container .check-btn:hover{
  color: #00cc00;
}

.result-container .xmark-btn:hover {
  color: #eb1616;
}

.result-container .download-btn {
  font-size: 1.5rem;
  width: 50px;
  transition: .1s ease-in-out, .4s color;
}

.result-container .download-btn:hover {
  color: #00cc00;
}

.course-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}

.course-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 0.9rem !important;
  font-weight: 300 !important;
}

.course-author {
  font-size: 0.9rem;
  font-weight: 500;
}

.view-count {
  font-size: 0.9rem;
  font-weight: 350;
}

.count-course {
  display: flex;
  flex-direction: row;
  width: 80px;
  font-size: 1rem;
  font-weight: 400;
  font-family: Montserat;
  letter-spacing: .3rem;
}

.count-view {
  display: flex;
  flex-direction: row;
  width: 80px;
  font-size: 1rem;
  font-weight: 400;
  font-family: Montserat;
  letter-spacing: .3rem;
}

.score-view {
  display: flex;
  flex-direction: row;
  width: 80px;
  font-size: 1rem;
  font-weight: 400;
  font-family: Montserat;
  letter-spacing: .3rem;
}

.icon-book, .icon-score {
  font-size: 1.3rem;
}

.icon-eye {
  font-size: 1rem;
}

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #EEE;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .radio-lable {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .radio-lable {
  background-color: #FF914D;
  font-weight: 600;
}

/* The Modal (background) */
.pop-modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100vw; 
  height: 100vh; 
  overflow: auto; 
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content */
.pop-modal .pop-img {
  margin: auto;
  display: block;
  /* min-width: 320px; */
  max-width: 80%;
  max-height: 80%;
}

/* Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 468px) and (max-width: 900px) {
  .title {
    font-size: 1.6rem;
  }

  .result-container h2{
    font-size: 1.2rem;
  }

  .result-container h3{
    font-size: 1.1rem;
  }

  .result-container .arrow-btn,
  .result-container .check-btn,
  .result-container .xmark-btn {
    font-size: 1.5rem;
  }

  .result-container .download-btn {
    font-size: 1.2rem;
  }

  .count-course {
    display: none;
  }
  
  .count-view {
    display: none;
  }
  
  .close {
    top: 30px;
    right: 15px;
  }
}


@media only screen and (max-width: 468px) {
  .title {
    font-size: 1.4rem;
  }

  .result-container h2{
    font-size: 1.1rem;
  }
  
  .result-container h3{
    font-size: 1rem;
  }

  .result-container .arrow-btn,
  .result-container .check-btn,
  .result-container .xmark-btn {
    font-size: 1.3rem;
  }

  .result-container .download-btn {
    font-size: 1.2rem;
  }

  .count-course {
    display: none;
  }
  
  .count-view {
    display: none;
  }

  .close {
    top: 30px;
    right: 15px;
  }
}