body{
    background-color: #667e91;
}

.details-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: 0.5em 1em;
}

.first-container{
    width: 45%;
    /* min-height: 300px; */
    padding: 1em 1.5em;
    background: #f4eee0;
    border-radius: 30px;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.back-btn-cont {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    
}
.backbutton {
    --bg: #000;
    --hover-bg: #FF914D;
    --hover-text: #000;
    color: #fff;
    border: 1px solid var(--bg);
    border-radius: 20px;
    padding: 0.5em 1em;
    background: var(--bg);
    transition: 0.3s;
    height: 40px;
    font-weight: bold;
    }
    
.backbutton:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.backbutton:active {
    transform: translate(0);
    box-shadow: none;
}

.profile-image{
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
}

.file-handle{
    padding-left: 50px;
}

.user-info-title{
    margin: 5px 0 5px 0;
    width: 110px;
    align-items: left;
}

.input {
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 5px 10px;
    background: transparent;
    max-width: 190px;
}

.desc {
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 5px 10px;
    background: transparent;
    width: 80%;
    height: 150px;
    background-color: #f8f8f8;
    resize: none;
}

.input:active {
    box-shadow: 2px 2px 15px #000000 inset;
}

.update {
    font-size: 16px;
    position: relative;
    margin: auto;
    padding: 1em 2.5em 1em 2.5em;
    border: none;
    background: #fff;
    transition: all 0.1s linear;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
}

.update:active {
    transform: scale(0.95);
}

.update span {
    color: #464646;
}

.update .border {
    position: absolute;
    border: 0.15em solid #fff;
    transition: all 0.3s 0.08s linear;
    top: 50%;
    left: 50%;
    width: 9em;
    height: 3em;
    transform: translate(-50%, -50%);
}

.update:hover .border {
    display: block;
    width: 9.9em;
    height: 3.7em;
}

.update:hover {
    background-color: #00cc00;
    color: #000;
}

.full-rounded {
    border-radius: 2em;
}

.forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    height: 30px;
    width: 200px;
    border: none;
    background: #9CADBC;
    border-radius: 20px;
    cursor: pointer;
    margin-left: auto;
}


.lable {
line-height: 18px;
font-size: .85rem;
color: #394955;
font-family: Georgia, serif;
letter-spacing: 1px;
}

.forgot-password:hover {
background: #667E91;
}

.forgot-password:hover .svg-icon {
animation: spin 2s linear infinite;
}

@keyframes spin {
0% {
    transform: rotate(0deg);
}

100% {
    transform: rotate(360deg);
}
}


/* pop out edit password container */
#pass-popout-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#password-popup {
    display: none; 
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px 50px 30px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
    overflow: hidden;  
}

#password-popup h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #7d84ab;
}

#password-popup label {
    display: block;
    margin-bottom: 5px;
    color: #7d84ab;
}

#password-popup input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button-row {
    display: flex;
    margin: 20px 0px 0px 20px;
    gap: 10px;
    position: relative;
    width: 100%;
    justify-content: flex-end;
}

.button-row button {
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#save-password-btn {
    background-color: rgb(0, 255, 0);
}

#save-password-btn:hover {
    background-color: rgb(0, 183, 0);
}

#cancel-password-btn {
    background-color: #989898;
}

#cancel-password-btn:hover {
    background-color: #717171;
}