body {
  margin: 0;
	padding: 0;
  background-color: #667e91;
  font-family: Montserrat;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #38415c;
  /* color: #fff; */
  padding: 10px 0px 10px 0px;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.nav-left {
  display: flex;
  align-items: center;
}

/* the 3 functionalities */
.btn {
  display: inline-block;
  padding: 7px 15px;
  background-color: #38415c;
  color: #7d84ab;
  cursor: pointer;
}

.btn:hover {
  color: #FF8E3C;
}

.btn:active {
  transform: translateY(2px);
  box-shadow: none;
  border: none;
}

/* line indicator */
.nav-links a{
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FF8E3C;
  transform: scaleX(0);
  transition: transform 0.2s ease-out;
}

.profile {
  padding: 0px 20px 0px 0px;
}

.profile-res a::after {
  width: 20%;
  left: 40%;
}

.nav-links a:hover {
  font-weight: bold;
}

.nav-links a:hover::after {
  transform: scaleX(1);
}

.nav-links .my-profile-btn {
  display: none;
}

.profile-dropdown_links {
  display: none;
}


/* logo */
.logo {
  padding: 0px 20px 0px;
}

.logo-image, .logo {
  width: 140px;
  height: 60px;
  object-fit: contain;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links a {
  color: #7d84ab;
  text-decoration: none;
  font-size: 0.8rem;
}

.nav-right {
  display: flex;
  align-items: center;
}

/* profile icon */
.profile, .profile-res {
  position: relative;
}

.nav-links .profile-res {
  width: 100%;
  display: none;
}

.my-profile {
  display: none;
}

#profile-icon {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: -10px;
  box-sizing: content-box;
}

.profile-dropdown {
  position: absolute;
  z-index: 999;
  top: 60px;
  right: -10px;
  background-color: #f4eee0;
  border: 1px solid #ddd;
  list-style: none;
  display: none;
  border-radius: 10px;
}

.profile-dropdown a {
  text-align: center;
  white-space: nowrap;
  display: block;
  color: #333;
  text-decoration: none;
  margin: 15px;
  font-size: 0.8rem;
  padding: 10px 20px;
  border-bottom: 1px solid rgb(237, 237, 237);
}

.profile-dropdown a:hover {
  color: #FF8E3C;
}


/* login register button */
.login-register-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100px;
  height: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
}

.login-register-toggle:hover {
  background-color: #667e91;
}

#login-btn:hover {
  color: #fff;
}

.login-resgister-res {
  display: none;
}

.nav-toggle {
  border: none;
  background-color: transparent;
  color: #ffffff;
  padding: 12px 18px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}

.nav-toggle:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

#login-btn {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  color: #7d84ab;
}

/* Menu */
.nav-toggle {
  display: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: relative;
}

.bar {
  display: block;
  color: #7d84ab;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 15px;
}

.bar:hover {
  color: #fff;
}

/* pop out edit password container */
#pass-popout-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#password-popup {
  display: none; 
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px 50px 30px 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100vw; 
  height: 100vh; 
  overflow: hidden;  
}

#password-popup h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #7d84ab;
}

#password-popup label {
  display: block;
  margin-bottom: 5px;
  color: #7d84ab;
}

#password-popup input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button-row {
  display: flex;
  margin: 20px 0px 0px 20px;
  gap: 10px;
  position: relative;
  width: 100%;
  justify-content: flex-end;
}

.button-row button {
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#save-password-btn {
  background-color: rgb(0, 255, 0);
}

#save-password-btn:hover {
  background-color: rgb(0, 183, 0);
}

#cancel-password-btn {
  background-color: #989898;
  
}

#cancel-password-btn:hover {
  background-color: #717171;
}

/* Show nav-links when nav-toggle is clicked */
@media screen and (max-width: 768px) {
  .nav-toggle {
    display: block;
  }

  .nav-links {
    left: -100%;
    width: 100%;
    background-color: #38415c;
    position: fixed;
    flex-direction: column;
    top: 59px;
    margin: 0;
    padding: 0;
    z-index: 1;
    transition: 0.3s;
  }

  .profile-dropdown_links{
    left: -100%;
    width: 100%;
    background-color: #38415c;
    position: fixed;
    flex-direction: column;
    margin: 0;
    padding: 0;
    z-index: 999;
    transition: 0.3s;
  }

  .nav-links.active, .profile-dropdown_links.active{
    Left: 0;
  }

  .nav-links li {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }

  .nav-links a {
    font-size: 0.8rem;
    color: #7d84ab;
  }

  .profile {
    display: none;
  }

  .nav-links .profile-res {
    display: block;
  }

  .nav-links .my-profile-btn {
    display: block;
    margin: 0px 10px;
    border-radius: 5px;
  }

  .nav-links .my-profile-btn:focus {
    background-color: #FF8E3C;
    color: #fff;
  }

  .profile-dropdown_links {
    display: block;
  }

  .login-register-toggle{
    display: none;
  }

  .login-resgister-res {
    display: block;
  }
}

@media screen and (max-width: 320px),(max-width: 426px),(max-width: 768px){
  .logo-image, .logo {
    width: 100px;
    height: 50px;
    object-fit: contain;
  }

  .bar {
    font-size: 0.9rem;
  }
}